LOG_PATH = "<%= @log_path %>"
LOG_FORMAT = "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
API_KEY = "<%= @api_key %>"
OUTPUT_PATH = "<%= @output_path %>"
DEFAULT_FROM = <%= @default_from %>
MOVIES_TYPE = "movies"
TV_SHOWS_TYPE = "tv_shows"